$icon-font-path: '../fonts/';

@font-face {
  font-family: 'ADAM-CGPRO';
  src: url( $icon-font-path + 'ADAM-CGPRO.eot?#iefix') format('embedded-opentype'),  url($icon-font-path + 'ADAM-CGPRO.otf')  format('opentype'),
       url($icon-font-path + 'ADAM-CGPRO.woff') format('woff'), url($icon-font-path + 'ADAM-CGPRO.ttf')  format('truetype'), url($icon-font-path + 'ADAM-CGPRO.svg#ADAM.CGPRO') format('svg');
  font-weight: normal;
  font-style: normal;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$main-active-color:         #a99655 !default;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  font: 14px/18px "ADAM-CGPRO", "Lantinghei SC","Microsoft YaHei","微软雅黑","STHeiti",メイリオ, Meiryo, 'ヒラギノ角ゴ Pro w3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', STXihei, 'HEITI TC', 黑體-繁, 微軟正黑體, 黑體, Arial, Helvetica, sans-serif,"微軟正黑體",'cwTeXHei', 'cwTeXYen', "Segoe UI","Helvetica Neue", cursive;
  color:#696969;
  a{
    color:#000;
    transition-duration: 0.15s;
    &:focus,&:hover,&:active,&.active{
      transition-duration: 0.25s;
      color:$main-active-color;
      outline:0;
      text-decoration: none;
    }
  }
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      display: inline-block;
    }
  }

  h3{
    font-size: percentage(18/14);
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

@import "section/menu";

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@import "section/kv";

.container{
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1010px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
