.page.interview-list{
	min-height:600px;
    h2{

    }
    hr{
        margin-top:30px;
    }
	p{
		font-size:percentage(12/14);
		line-height:1.6em;
		letter-spacing: 1px;
	}
    .sm-three-col{
        margin-top:40px;
    }
    .pre{
    	margin-bottom:20px;
    }
    .view-count{
    	height:14px;
    	margin-left:5px;
    }
    article{
		margin-top:20px;
    	h3{
    		margin:0;
    		font-size: percentage(18/14);
    		text-align:left;
    		font-family:inherit;
    	}
    	figure{
    		margin-bottom:20px;
    		img{
    			width:100%;
    		}
    	}
    	p + p{
    		margin:1.8em 0 0;
    	}
    }

    .author{
    	aside:nth-child(1){
    		border-right:1px solid #ababab;
            img{
                width: 100%;
            }
    	}
    	aside:nth-child(2){
    		h4{
    			margin:0;
    			&:after{
    				display: block;
    				content:' ';
    				width:40px;
    				height:3px;
    				margin:12px 0 8px;
    				background: $main-active-color;
    			}
    		}
    	}
    }
    
    .recommended{
        h5{
            font-weight: 300;
            text-align: center;
            margin:25px 0;
            line-height: 1em;
            min-height: auto;
            height: auto;
            color:#434343;
            &:before{
                display: none;
            } 
        }
        li{
            display: inline-block;
            position:relative;
            a{
                display: block;
                img{
                    width:100%;
                }
            }
        }
    }
}