#kv{
  max-height: 666px;
  overflow: hidden;
  .slick-slide{
    position:relative;
    &:after{
      transition-duration:0.15s;
      display: block;
      width:100%;
      height:100%;
      left:0;
      top:0;
      background:rgba(0,0,0,0.5);
      content:' ';
      position: absolute;
    }
  }
  .slick-active{
    &:after{
      opacity: 0;
      transition-duration:0.25s;
    }
  }
  // #blueimp-gallery-carousel{
  //   box-shadow:none;
  //   position: relative;
  //   margin: 0 auto;
  //   width:980px;
  //   height: 666px;
  //   padding:0;
  //   .prev,.next{
  //     border:0;
  //     background:none;
  //   }
  //   .slides{
  //     height: 666px;
  //     .slide{
  //       display: inline-block;

  //       @media (max-width: 767px)   {
  //         overflow:hidden;
  //         position:relative;
  //       }
  //       .slide-content{
  //         height: auto;
  //         max-height: none;
  //         max-width: none;
  //         vertical-align: middle;
          
  //         @media (max-width: 767px)   {
  //           top:0;
  //           position:absolute;
  //           height: 100%;
  //           width: auto;
  //           max-width: none;
  //         }
  //       }
  //     }
  //   }
  //   .indicator{
  //     display: block;
  //   }

  // }
}