#kv{
  max-height: 666px;
  overflow: hidden;
  position: fixed;
  padding: 0;
  max-width:100%;
  top:0;
  @media screen and (max-width: 767px) {
    position:absolute;
    margin-top:50px;
    max-height: 480px;
  }
  @media  (min-width: 768px) and (max-width: 1170px) {
    position:absolute;
    margin-top:96px;
    max-height: 580px;
  }
  &.pinned{
    position: absolute;
    top:616px;
  }
  .layer-2{
    left:0;
    top:0;
    opacity:0;
    position:absolute;
    transition-duration:0.2s;
    transform-origin:center left 0;
    transform: translateY(50%) scale(0.8);
  }
  .layer-3{
    left:0;
    top:0;
    opacity:0;
    position:absolute;
    transition-duration:0.2s;
    transform-origin:center right 0;
      transform: translateX(20%) translateY(200%) scale(0.8);
  }
  .slick-slider{
    max-height: 100%;
    @media screen and (max-width: 767px) {
      max-height: 480px;
    }
    @media  (min-width: 768px) and (max-width: 1170px) {
      max-height: 580px;
    }
  }
  .slick-slide{
    position:relative;
    @media screen and (max-width: 767px) {
      max-height: 480px;
    }
    @media  (min-width: 768px) and (max-width: 1170px) {
      max-height: 580px;
    }
    &:after{
      transition-duration:0.15s;
      display: block;
      width:100%;
      height:100%;
      left:0;
      top:0;
      background:rgba(0,0,0,0.5);
      content:' ';
      position: absolute;
    }
    img{
      max-height: 100%;
      @media screen and (max-width: 767px) {
        max-height: 430px;
      }
      @media (min-width: 768px) and  (max-width: 1170px){
        max-height: 580px;
      }
    }
  }
  .slick-dots{
    bottom:50px;
    display: none !important;
  }
  .slick-active{
    position:relative;
    &:after{
      opacity: 0;
      transition-duration:0.25s;
    }
    .layer-2{
      opacity:1;
      transition-duration:2.8s;
      transform: scale(1) translateX(7%) translateY(50%);
    }
    .layer-3{
      opacity:1;
      transition-duration:2.8s;
      transform: scale(1.1) translateX(0%) translateY(200%);
    }
  }
  .slick-arrow{
    position:absolute;
    width:25px;
    height:45px;
    z-index: 1;
    &:hover{
      filter:invert(0.15);
    }
    &:before{
      display: none;
    }
  }
  .slick-prev{
    left:30px;
    background:url(../img/kv/arrow-prev.png);
  }
  .slick-next{
    right:30px;
    background:url(../img/kv/arrow-next.png) no-repeat;
  }
}