/* Custom page header */
header {
  height:128px;
  margin-top:602px;
  .fit{
    width:100%;
    position:relative;
    z-index: 10;
    top:0;
    left: 0;
    &.fixed{
      position:fixed;
    }
    a.logo{
      display: block;
      height: 50px;
      opacity: 0;
      text-align: center;
      transition-duration: 0s;
      transition-delay: 0s;
      background:rgba(255,255,255,0.6);
      transform-origin:bottom center 0;
      svg { 
        fill: #fff;
        path{
          fill:#000;
        }
      }
      img{
        transform: translateY(10px);
        height:50px;
        width:auto;
        transform-origin:bottom center 0;
      }
    }
  }
  aside{
    background: #000;
    height:auto;
  }
  #menu{
    width:980px;
    margin:0 auto;
    max-height: 78px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    ul{
      margin:0;
      padding:0;
      line-height: 78px;
      letter-spacing: 0;
      font-size: 0;
      display: inline;
      li{
        vertical-align: top;
        text-align: center;
        list-style:none;
        letter-spacing: 1px;
        display: inline-block;
        height: 100%;
        font-size: 14px;
        letter-spacing: 0;
        &:hover{
          div{
            display: block;
          }
        }
        &:hover,&.active{
          color:#000;
          background:#fff;
          a,a:active,a:focus{
            color:inherit;
          }
        }

        &.off{
          color:#fff;
          background:#000;
        }
        a{
          font-family: "ADAM-CGPRO", 'MS P Gothic', Arial, Helvetica, sans-serif,"微軟正黑體", "Segoe UI","Helvetica Neue", cursive;
          color:#fff;
          display: block;
          height: 100%;
          padding:0 17px;
          &:focus{
            color:#fff;
          }
        }
      }
      &.social{
        margin-left: 34px;
        display: inline;
        letter-spacing: 0;
        li{
          a{
            font-size: percentage(16/14);
            padding: 0 8px;
          }
          &.search{
            div{
              .center{
                width:980px;
                margin:0 auto;
                text-align:left;
                padding:20px 0 20px 3px;
                line-height:20px;
              }
              i{
                font-size: percentage(22/14);
                color:#a4a5a5;
              }
            }
            input{
              font-family: 'PT Sans', sans-serif;
              width:600px;
              margin-left:10px;
              border:0;
              &:focus{
                border:0;
                outline:none!important;
              }
            }
          }
        }
      }
    }
    div{
      width:100%;
      background:#fff;
      position:absolute;
      display: none;
      left:0;
      ol{
        display: block;
        width:980px;
        margin:0 auto;
        padding:0;
        text-align: left;
        line-height: 30px;
        margin-top:17px;
        margin-bottom:23px;
        a{
          font-family: "Lantinghei SC","Microsoft YaHei","微软雅黑","STHeiti",メイリオ, Meiryo, 'ヒラギノ角ゴ Pro w3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', STXihei, 'HEITI TC', 黑體-繁, 微軟正黑體, 黑體, "微軟正黑體";
          background:none;
          color:inherit;
          border-right:1px solid #959595;
          line-height:12px;
          vertical-align: middle;
          &:hover{
            background:none;
            color:$main-active-color;
          }
        }
        li:first-child{
          a{
            border-left:1px solid #959595;
          }
        }
      }
    }
    &.mm-opened{
      z-index: 1;
    }
    &:hover:after{
      display: block;
      width:100%;
      position:fixed;
      height:100%;
      left:0;
      top:0;
      content:' ';
      background:rgba(0,0,0,0.5);
      z-index:-1;
      transition-duration: 0.25s;
    }
  }
}