/* Custom page header */
.mm-menu{
  z-index: 20;
}
.mmenu-head{
  z-index: 19;
  width:100%;
  background:rgba(0,0,0,0.9);
  a{
    color:#fff;
    &:before{
      height: 100%;
      vertical-align: middle;
      display: inline-block;
      content:' ';
    }
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    padding-left: 15px;
  }
  display: none;
  @media screen and (max-width: 767px) {
    position:fixed;
    top:0;
    left:0;
    height:50px;
    display: block;
  }
  @media  (min-width: 768px) and (max-width: 1170px) {
    height:96px;
    display: block;
  }
}
header {
  height:128px;
  margin-top:602px;
  @media screen and (max-width: 1170px) {
    margin-top:480px;
  }
  .fit{
    width:100%;
    position:relative;
    z-index: 10;
    top:0;
    left: 0;
    &.fixed{
      position:fixed;
    }
    a.logo{
      display: block;
      height: 50px;
      opacity: 0;
      text-align: center;
      transition-duration: 0s;
      transition-delay: 0s;
      background:rgba(255,255,255,0.8);
      transform-origin:bottom center 0;
      svg { 
        fill: #fff;
        path{
          fill:#000;
        }
      }
      img{
        transform: translateY(10px);
        height:50px;
        width:auto;
        transform-origin:bottom center 0;
      }
    }
  }
  aside{
    background: #000;
    height:78px;
    @media screen and (max-width: 1170px) {
      background: rgba(0,0,0,0);
    }
  }
  #menu{
    width:980px;
    margin:0 auto;
    max-height: 78px;
    z-index: 1;
    ul{
      margin:0;
      padding:0;
      line-height: 78px;
      letter-spacing: 0;
      font-size: 0;
      display: inline;
      li{
        vertical-align: top;
        text-align: center;
        list-style:none;
        letter-spacing: 1px;
        display: inline-block;
        height: 100%;
        font-size: 14px;
        letter-spacing: 0;
        transition-duration: 0.25s;
        &:hover{
          div{
            ol, .center{
              line-height: 30px!important;
              height:auto!important;
              opacity: 1!important;
              margin:23px auto 10px!important;
              transition-duration: 0.55s!important;
              transition-property: margin opacity!important;
            }
          }
        }
        &:hover,&.active{
          color:#000;
          background:#fff;
          transition-duration: 0.55s;
          a,a:active,a:focus{
            color:inherit;
            transition-duration: 0.55s;
          }
        }

        &.off{
          color:#fff;
          background:#000;
        }
        a{
          color:#fff;
          display: block;
          height: 100%;
          padding:0 20px;
          &:focus{
            color:#fff;
          }
        }
      }
      &.social{
        margin-left: 34px;
        display: inline;
        letter-spacing: 0;
        li{
          a{
            font-size: percentage(16/14);
            padding: 0 10px;
          }
          &.search{
            div{
              .center{
                width:980px;
                height:0;
                overflow: hidden;
                margin:0 auto;
                padding:0;
                text-align:left;
                line-height:0;
                transition-duration: 0.25s;
              }
              i{
                font-size: percentage(22/14);
                color:#a4a5a5;
              }
            }
            input{
              font-family: 'PT Sans', sans-serif;
              width:940px;
              margin-left:10px;
              border:0;
              &:focus{
                border:0;
                outline:none!important;
              }
            }
          }
        }
      }
    }
    div{
      width:100%;
      background:#fff;
      position:absolute;
      display: block;
      left:0;
      z-index: 1;
      ol{
        display: block;
        width:980px;
        height:0;
        overflow: hidden;
        margin:0 auto;
        padding:0;
        text-align: left;
        line-height: 0;
        opacity: 0;
        transition-duration: 0.25s;
        a{
          background:none;
          color:inherit;
          border-right:1px solid #959595;
          line-height:14px;
          vertical-align: top;
          padding-bottom:2px;
          &:hover,&:active,&:focus{
            background:none;
            color:$main-active-color;
          }
        }
        li:first-child{
          a{
            border-left:1px solid #959595;
          }
        }
      }
    }
    &.mm-opened{
      z-index: 1;
    }
    @media screen and (max-width: 767px) {
      // display: none;
    }
    &:hover +.marquee:after{
      display: block;
      width:100%;
      height:100%;
      opacity: inherit;
    }
  }
  .marquee{
    background: rgba(255,255,255,0.7);
    text-align: center;
    padding:10px 0;
    ul{
      display: inline-block;
      height: 20px;
      letter-spacing: 0;
      &:hover{
        &:before, &:after{
          font-style: italic;
          transition-duration: 2s;
        }
      }
      &:before{
        content:'// ';
        padding-right:1px;
      }
      &:after{
        content:'//';
      }
      &:before,&:after{
        font-family: FontAwesome;
        color:#e74b8c;
        display: inline;
      }
      li{
        line-height: 1.1em;
        letter-spacing: -1em;
        opacity:0;
        transition-duration:1.5s;
        position:relative;
        // font-size: 0;
        transform:rotateY(90deg);
        a{
          font-size: percentage(11/14);
        }
        &.active{
          letter-spacing: 0.1em;
          opacity:inherit;
          transition-delay: 1.45s;
          transition-duration:3s;
          // font-size: inherit;
          transform:rotateY(0deg);
          vertical-align: center;
        }
        &:after{
          position:absolute;
          display: block;
          left:0;
          bottom:-110%;
          width:0;
          height:100%;
          border-top:1px solid rgba(255,255,255,0.5);
          content: ' ';
          @media screen and (max-width: 1170px) {
            display: none;
          }
        }
        &:hover{
          &:after{
            width:100%;
            transition-duration:1s;
            border-top:1px solid #e74b8c;
          }
        }
      }
      @media screen and (max-width: 767px) {
        height:auto;
      }
    }
    a{
      color:#e74b8c;
    }
    &:after{
      opacity: 0;
      position:fixed;
      height:0;
      left:0;
      top:0;
      content:' ';
      background:rgba(0,0,0,0.5);
      z-index:-1;
    }
  }
}