.page.report-list,.page.customs-list{
	min-height:600px;
    h2{

    }
    hr{
        margin-top:30px;
    }
    .highlight{
        margin-top: 25px;
    } 
    .two-col{
        .category{
            color:#535353;
            &:hover{
                color:$main-active-color;
            }
        }
    }
    .three-col{
        margin-bottom:20px;
    }
}